body {
	color: #FFFFFF;
}

.laura-title {
	color: #D9BA60;
}
.project {
	width: 60%;
	border: 5px solid #E7E7E7;
	margin: 5px;
}

.parallax {
    background-image: url("images/keyboard.jpg");
    min-height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-section {
	height: 700px;
	background-color: #D9BA60;
}

.portfolio-title {
	margin-top: 0px;
}

.parallax2 {
    background-image: url("images/book.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-section {
	height: 400px;
	background-color: #D9BA60;
	font-size: 32px;
}
.parallax3 {
    background-image: url("images/mtnbike.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-text {
	width: 70%;
	margin: 0 auto;
}
