body {
	color: #FFFFFF;
}

#hero {
  background-image:url('images/comp.jpg');
  background-size:cover;
/*  position:relative;*/
  height: 100vh;
}

.bio {
	padding: 20px;
}

.bio span {
   position: absolute;
   bottom: 50vh;
   right: 0;
   color: #FFFFFF;
   padding-right: 10px;
}

.bio span a {
	color: #FFFFFF;
	text-decoration: none;
}

.project {
/*	height: 160px;*/
	width: 95%;
	border: 5px solid #E7E7E7;
	margin: 5px;
}

.quarter {
	height: 50vh;
	background-color: #000000;
}

.quarter2 {
	background-color: #546248;
	height: 50vh;
}