@import url('https://fonts.googleapis.com/css?family=Barrio|Lora');

body {
	color: #FFFFFF;
    font-family: 'Lora', Garamond, serif;
}

h1, h2, h3 {
    font-family: 'Barrio', Helvetica, sans-serif;
}

.laura-title {
	color: #D9BA60;
}

.project {
	width: 60%;
	border: 5px solid #000000;
	margin: 5px;
}

section:nth-of-type(1) {
    background-image: url("images/keyboard.jpg");
    min-height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-section {
	height: 750px;
	background-color: #D9BA60;
    padding-top: 55px;
}

.portfolio-title {
    font-size: 34px;
}

section:nth-of-type(2) {
    background-image: url("images/book.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio-section {
	height: 500px;
	background-color: #D9BA60;
	font-size: 28px;
    padding-top: 55px;
}

section:nth-of-type(3) {
    background-image: url("images/mtnbike.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-section {
    height: 400px;
    background-color: #D9BA60;
    font-size: 28px;
    padding-top: 55px;
}

.content-text {
	width: 70%;
	margin: 0 auto;
}

a, a:hover {
    color: #FFFFFF;
}

.social-list {
    list-style-type: none;
}

.social-icon {
    width: 75px;
    padding: 3px;
}

@media all and (max-width: 1050px){
    .bio-section {
        font-size: 20px;
    }
}

@media all and (max-width: 767px){

    .laura-title {
        padding-left: 10px;
    }

    .portfolio-section {
        height: auto;
        padding-bottom: 20px;
    }

    .bio-section {
        height: auto;
        padding-bottom: 20px;
    }

    .contact-section {
        height: auto;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .social-icon {
        width: 65px;
    }

    section:nth-of-type(odd) {
        background-image: url("");
        min-height: 0px; 
    }

    section:nth-of-type(even) {
        background-image: url("");
        min-height: 0px; 
    }
}

@media all and (max-width: 450px){ 

    .social-icon {
        width: 45px;
    }
}

